@import '../../variables.scss';

.heroSelector {
  margin: 0 auto;
  
  padding-bottom: 15px;
  border-bottom: 1px solid $black;
}

.heroes {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  

  li {
    margin: 15px 0;
    background-color: $black;
    color: $creme;
    padding: 10px 0;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    a {
      color: $creme;
      text-decoration: none;
    }

    .badge {
      background-color: $red;
      padding: 12px;
      margin-right: 10px;
    }

    .delete {
      position: absolute;
      right: 10px;
      border: none;
      background: $navy;
      color: $creme;
      border-radius: 4px;
    }

    &:hover {
      background: $navy;

      .delete {
        background: $black;
      }
    }

  }

  .selected {
    background-color: $navy;
  }
}
